# Flail doesn't like CRLF
* text=auto eol=lf

src/c2goto/headers/*.hs linguist-vendored
src/clang-c-frontend/headers/*.hs linguist-vendored

* text=auto
*.c text
*.h text

*.hs text eol=lf
*.sh text eol=lf