Source: esbmc
Maintainer: Jeremy morse <jeremy.morse@gmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9), bison, flex, libboost-all-dev, libeigen3-dev, gawk, sed
# XXX versions for all these things?

Package: esbmc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6
Description: SMT based bounded model checker for C and C++ programs
