name: Generate benchexec diff
on:
  workflow_dispatch:
    inputs:
      original_id:
        description: 'Old run'
        required: false
        default: '30'
      old_run_id:
        description: 'New run'
        required: false
        default: ''
jobs:
  fetch-old-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from previous run
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh run download 20194414372 \
            --repo esbmc/esbmc \
            --name esbmc-result \
            --dir old-artifact
