name: Generate benchexec diff
on:
  workflow_dispatch:
    inputs:
      original_id:
        description: 'Old run'
        required: false
        default: '30'
      old_run_id:
        description: 'New run'
        required: false
        default: ''

jobs:
  create-diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: esbmc-result
          run-id: 20194414372
          repository: esbmc/esbmc
      - name: Display results
        run: ls -R
