name: Build All Solvers

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:

  build-windows:
    name: Build ESBMC with all Solvers (Linux)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Prepare Environment
      run: .\scripts\configure_environment.ps1
    - name: Configure CMake
      run: cmake.exe -DCMAKE_BUILD_TYPE=Release -DLLVM_DIR=C:\deps\clang\llvm9d -DClang_DIR=C:\deps\clang\llvm9d
    - name: Build ESBMC
      run: cmake --build .