name: Build ESBMC

on: [pull_request]

jobs:

  # Check testing tool suite
  testing-tool:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Runs testing tool unit test
      run: cd regression && python3 testing_tool_test.py
 
  # Build developer doc
  build-developer-doc:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v3
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@v2
      with:
        root_file: docs/manual.tex
    - name: Upload PDF file
      uses: actions/upload-artifact@v3
      with:
        name: Developer-Manual
        path: manual.pdf    

  build-unix:
    strategy:
      matrix:
        build: [Release, RelWithDebInfo, Debug]
        os: [ubuntu-latest]
    name: Build ESBMC (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Build ESBMC
      run: ./scripts/build.sh -b ${{ matrix.build }}
    - uses: actions/upload-artifact@v1
      with:
        name: release-unix
        path: ./release
    - name: Run tests
      if: ${{ matrix.build == 'Debug' }}
      run: cd build/ && ctest -j4 --output-on-failure --progress .
    - uses: actions/upload-artifact@v2 # We shouldn't throw errors for now
      with:
        name: csmith-unix
        path: ./build/csmith-error
        if-no-files-found: ignore

  build-windows:
    name: Build ESBMC with Z3 (Windows)
    runs-on: windows-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: check python
      run: python --version
    - name: Update vcpkg
      run: |
        vcpkg.exe update
        cd C:/vcpkg
        git.exe pull
        .\bootstrap-vcpkg.bat
    - name: Make git use LF only
      run: |
        git config --system core.autocrlf false
        git config --system core.eol lf
    - uses: actions/checkout@v2
    - name: Configure ESBMC
      run: ./scripts/build.ps1
    - uses: actions/upload-artifact@v2
      with:
          name: release-windows
          path: C:/deps/esbmc
    - name: Run Tests
      run: |
        cd build
        ctest -j4 --output-on-failure --progress . -C RelWithDebInfo
