name: ESBMC Fast Health Checks

on: [push, pull_request]
jobs:

  # Check project with clang-format
  code-style:  
    runs-on: ubuntu-latest
    steps:      
    - uses: actions/checkout@v1    
    - name: Download Clang 9
      run: wget http://releases.llvm.org/9.0.0/clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz
    - name: Extract Clang 9
      run: tar xf clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz && mv clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04 clang9
    - name: Run clang-format
      run: find src -iname *.h -o -iname *.c -o -iname *.cpp -o -iname *.hpp -iname *.hh | grep -v src/ansi-c/cpp | xargs ./clang9/bin/clang-format -style=file -i -fallback-style=none
    - name: Throws error if changes were made
      run: git diff --exit-code

  fast-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: sudo apt-get install gperf libgmp-dev cmake bison flex gcc-multilib linux-libc-dev libboost-all-dev ninja-build python3-setuptools
    - name: Download Clang 9
      run: wget http://releases.llvm.org/9.0.0/clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz
    - name: Extract Clang 9
      run: tar xf clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz && mv clang+llvm-9.0.0-x86_64-linux-gnu-ubuntu-18.04 clang9
    - name: Get current folder and files
      run: pwd && ls
    - name: Configure CMake
      run: mkdir build && cd build && CC=../clang9/bin/clang CXX=../clang9/bin/clang++ cmake .. -GNinja -DBUILD_TESTING=On -DENABLE_FUZZER=On -DClang_DIR=$PWD/../clang9 -DLLVM_DIR=$PWD/../clang9
    - name: Build BigInt Tests
      run: cd build && ninja biginttest && ninja bigintfuzz
    - name: Build Utils Tests
      run: cd build && ninja irep_serialization_test
    - name: Run tests
      run: cd build && ninja test
