name: Trigger esbmc.github.io deploy action

on:
  push:
    branches: [ master ]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAGES_DEPLOY_TOKEN }}
          repository: esbmc/esbmc.github.io
          event-type: deploy-site
