on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Release Asset

jobs:

  build-linux:
    name: Build ESBMC with all Solvers (Linux)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Configure CMake
        run: mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -GNinja -DDOWNLOAD_DEPENDENCIES=On -DBUILD_STATIC=On -DBoolector_DIR=/workspace/boolector-release -DZ3_DIR=/workspace/z3 -DENABLE_JIMPLE_FRONTEND=On -DENABLE_SOLIDITY_FRONTEND=On
      - name: Build ESBMC
        run: cd build && cmake --build . && cpack && mv ESBMC-*.sh ESBMC-Linux.sh
      - uses: actions/upload-artifact@v1
        with:
          name: release-linux
          path: ./build/ESBMC-Linux.sh


  build-macos:
    name: Build Darwin Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: brew install gmp csmith cmake boost ninja python3 automake bison flex && pip3 install PySMT toml
      - name: Download Clang 11
        run: wget https://github.com/llvm/llvm-project/releases/download/llvmorg-11.0.0/clang+llvm-11.0.0-x86_64-apple-darwin.tar.xz
      - name: Extract Clang 11
        run: tar xf clang+llvm-11.0.0-x86_64-apple-darwin.tar.xz && mv clang+llvm-11.0.0-x86_64-apple-darwin clang
      - name: Setup boolector
        run: git clone --depth=1 --branch=3.2.2 https://github.com/boolector/boolector && cd boolector && ./contrib/setup-lingeling.sh && ./contrib/setup-btor2tools.sh && ./configure.sh --prefix $PWD/../boolector-release && cd build && make -j4 && make install
      - name: Setup Z3
        run: brew install z3
      - name: Get current folder and files
        run: pwd && ls
      - name: Configure CMake
        run: mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -GNinja -DClang_DIR=$PWD/../clang -DLLVM_DIR=$PWD/../clang -DBoolector_DIR=$PWD/../boolector-release -DZ3_DIR=$PWD/../z3 -DC2GOTO_SYSROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk -DENABLE_SOLIDITY_FRONTEND=On -DBUILD_STATIC=Off -DENABLE_JIMPLE_FRONTEND=On
      - name: Build ESBMC
        run: cd build && cmake --build . && cpack && mv ESBMC-*.sh ESBMC-Darwin.sh
      - uses: actions/upload-artifact@v1
        with:
          name: release-darwin
          path: ./build/ESBMC-Darwin.sh

  build-windows:
    name: Build ESBMC with Z3 (Windows)
    runs-on: windows-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: check python
      run: python --version
    - name: Update vcpkg
      run: |
        vcpkg.exe update
        cd C:/vcpkg
        git.exe pull
        .\bootstrap-vcpkg.bat
    - name: Configure ESBMC
      run: ./scripts/build.ps1
    - uses: actions/upload-artifact@v2
      with:
        name: release-windows
        path: C:/deps/esbmc


  create-release:
    name: Upload Release Asset
    runs-on: ubuntu-20.04
    needs: [build-linux, build-macos, build-windows]
    steps:
      - name: Download Linux Build
        uses: actions/download-artifact@v1
        with:
          name: release-linux
          path: ./
      - name: Download Macos Build
        uses: actions/download-artifact@v1
        with:
          name: release-darwin
          path: ./
      - name: Download Windows Build
        uses: actions/download-artifact@v1
        with:
          name: release-windows
          path: ./
      - name: Get files
        run: ls
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload Release Asset (Linux)
        id: upload-release-asset-linux
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ESBMC-Linux.sh
          asset_name: ESBMC-Linux.sh
          asset_content_type: text/x-shellscript
      - name: Upload Release Asset (Darwin)
        id: upload-release-asset-macos
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ESBMC-Darwin.sh
          asset_name: ESBMC-Darwin.sh
          asset_content_type: text/x-shellscript
      - name: Upload Release Asset (Windows)
        id: upload-release-asset-windows
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ESBMC-Windows.zip
          asset_name: ESBMC-Windows.zip
          asset_content_type: application/zip
